:root {

    --secondary-color: #222831;
    --primary-color: #393E46;
    --tertiary-color:#00ADB5;
    --quadiary-color:#EEEEEE;

}

* {

    box-sizing: border-box;

}

html {

    font-size: 18px;
    color: var(--quadiary-color);

}

body {

    margin: 0;
    background-color: var(--primary-color);;

}

img {

    max-width: 100%;

}

.logo {

    max-height: 150px;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    background-color: var(--secondary-color);

}

header > .col-2{

    padding: 0;

}

#headline h1{

    text-align: center;
    margin: auto 0

}

#main-area{

    width: 100%;
    
}


#header-nav{
    position: sticky;
    top: 10px;
    margin: 30px 2px 10px -100px;
    border:1px solid #00ADB5 ;
    background-color: var(--secondary-color);
    text-align: center;
    
}

#header-nav .logo{

    max-height: 90px;

}

#header-nav ul{

    margin: 0;

}

nav ul {

    padding: 0;
    background-color: var(--secondary-color);


}

li {

    list-style: none;
    color: var(--quadiary-color);

}

a {

    text-decoration: none;
    color: var(--tertiary-color);

}

#nav-area{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start


}

#headshot {
    display: block;
    margin: 0 auto 20px;
    max-height: calc(100vh / 3 * 2 );
    max-width: calc(100vh / 3 * 2 * ( 497 / 759 ));

}

#about{

    text-align: center;
    min-height: calc(100vh / 3);;

}

#about p{

    text-align: justify;

}

.container [class *="col-"] {

    text-align: center;

}

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#cv table{

    border-collapse: collapse;
    border: 2px solid black;
    font-size: 1.2rem;


}

#cv tr td{

    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 5px 10px;
}

#cv tr:nth-child(2n-1){

    background-color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;

}

.flexcontainer {

    display: flex;
    justify-content: space-around;

}

.stuffimade {

    display: flex;
    flex-direction: column;
    padding: 0;

}

.github{

    position: relative;

}

.github::before{

    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/roboter5123\ 4k.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vw / 3);
    max-height: calc(1024px / 3);
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.github:hover::before{

    filter: grayscale(100%);

}

.github > p{

        display: none;

}

.github:hover > p{

    display: inline;
    position: absolute;
    top: 40%;
    left: 32%;
    font-size: 1.5rem;
    color:black;

}

#portfolio:hover > p{

    display: inline;
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 1.5rem;
    color:black;

}

#portfolio::before{

    background-image: url(../img/html_css.png);

}

#contact{

border: 2px solid black;
display: flex;
flex-direction: column;


}

footer{

    padding: 20px;
    justify-content: space-between;
    border-top: 2px solid black;

}

.social-media{

    text-align: center;

}

.social-media a{
    
    color: white;
    font-size: 2rem;

}

.mobile{

    display: none;

}

.desktop{

    display:table-row;

}

@media screen and (max-width: 550px) {

    .mobile{

        display: table-row;

    }

    .desktop {

        display: none;

    }

    html{

        font-size: 12px;

    }

    #header-nav{

        display: none;

    }
    
}